body{
    height: 100%;
    text-align: center;
    font-family: 'Lato',serif;
}

 .opaque-navbar{
    background-color: rgba(255,75,75,0.7);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    -webkit-box-shadow: 0px 4px 21px -1px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 4px 21px -1px rgba(0,0,0,0.61);
box-shadow: 0px 4px 21px -1px rgba(0,0,0,0.61);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background: rgb(173, 69, 71);
}
.navbar-inverse .navbar-nav > li > a,.glyphicon{
    color: white;
}
.jumbotron{
    background: none;
    margin: 130px;
    color: #4eccc1;
}
.jumbotron h2{
    font-size: 40px;
    color: white;
}
header{
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}
/*header end*/

.section2 p{
    font-size: 18px;
}

.section2 h1{
    font-size: 40px;
    margin: 1em;
}
/*end section2*/
.section3{
    margin: 40px;
}
.section3 h1{
    font-size: 40px;
    margin: 1em;
}

.section3 .first:hover,.second:hover,.third:hover,.fourth:hover{
    border-radius: 10px 123px 0px 123px;
    -moz-border-radius: 10px 123px 0px 123px;
    -webkit-border-radius: 10px 123px 0px 123px;
    border: 0px solid #000000;
    cursor: pointer;
    transition: border-radius 1s ease-in;
}
.section3 .first,.second,.third,.fourth{
    font-size: 16px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
    width: 250px;
    margin: 20px;
    color: white;
    padding: 25px;
}
.first{
    background-color: #45B29D;

}
.second{
    background-color: #C75C5C;
}
.third{
    background-color: #304269;
}
.fourth{
    background-color: #A4C84F;
}


.footer{
    background-color: #505E6B;
    padding-bottom: 10px;
    text-align: center;
    color: white
}
.footer a{
    color: white;
    word-spacing: 20px;
}
.footer a:hover{
    color: gray;
    word-spacing: 20px;
    text-decoration: none;
}
.pull-left{
    margin-top: 5px;
}